body{
    margin: 0;background-color: rgb(18, 18, 18);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;}
div{
    border: red solid 1px;margin: 4px;
}
#um{float: left;
    background-color: blueviolet;
width: 20%;
height: 500px;
}

#dois{float:left;background-color: chartreuse;
width: 20%;
height: 500px;} 

#tres{background-color: aquamarine;
float: left;
width: 20%;
height: 500px;}  

#quatro{background-color: darkorange;
float: left;
clear: both;
width: 61%;
height: 500px;}


